.slider-container {
  position: relative;
  width: 100%;
  max-width: 450px; /* Adjust based on your needs */
  margin: auto;
  overflow: hidden;
}
.swiper-container {
    width: 100%; /* Adjust to fit two columns */
  }
  

.slider-item {
  position: relative;
  display: inline-block;
}

.slider-item img {
  width: 400px;
  object-fit:cover;
  height: 222px;
  display: block;
  border-radius: 8px;
}

.text-overlay h1{
    background-color: transparent;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.6); /* Dark background with some transparency */
}

.slider-item:hover .text-overlay {
  opacity: 1;
}

button {
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #ffffff;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }