
.tech{
    margin: auto;
  width: 60%;
}
.tech-tree{
    display: flex;
    justify-content: left;
    align-items: center;
}
.tech-tree ul{
    display: flex;
    gap: 10px;
}
.tech-tree li{
    border: 1px solid var(--border);
    padding: 10px;
    border-radius: 6px;
    list-style: none;
    display: flex;
}

@media screen and (max-width: 768px) {

.tech-tree{
    display: flex;
    flex-direction: column;
    

}
.tech-tree ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}
}