@font-face {
  font-family: 'Mensura';
  src: url('../public/Mensura\ Regular.ttf');
}

:root{
  --backround : #1e1e1e;
  --primary : #EB5939;
  --border:#B7AB98;
}


@import url('https://use.typekit.net/your-font-kit-id.css');

* {
  font-family: 'Mensura';
  background-color: var(--backround);
  color: #ffffff;
}
